body {
	background-image: url("../img/bg-wood2.jpg");
    background-position: center top;
    color: #555;
	font-family: 'Helvetica Neue','Helvetica','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',arial,sans-serif;    
}

h2 {
    margin:0;
    padding:0;
    margin-bottom: 5px;
}

.content {
    margin-top: 60px;
    padding: 0 15px;
    width: 100%;
}

.navbar-fixed-top {
    background: rgba(255,255,255,0.9);
}


.headerH2 {
    color:#FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 10px;
}

.block {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 5px 5px; 
    padding: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);    
}

.titleBlock {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px 5px 0 0;
    color: #555;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 10px 0px 5px;
    text-transform: uppercase;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);   
}

/* REALISATION */



.listRealisation {
    margin:0;
    padding:0;
    min-height: 50px;
}

.listRealisation .realisation {
    margin-bottom:5px;
    padding: 5px;
    overflow: hidden;
    transition: 1s all ease;

}

.listRealisation .realisation:hover .realisation-info{
    bottom:-80px;
}

.listRealisation .realisation .content-realisation {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}


.listRealisation .realisation .realisation-info-complete {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    bottom: 0;
    left:-100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    width: 100%;
    transition: 0.5s all ease; 
}

.listRealisation .realisation .realisation-info-complete h3 {
    margin:0;
    padding:0;
    margin-bottom: 10px;
    color:#555;
}

.listRealisation .realisation .realisation-info-complete .close {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    color: #000;
    font-size: 20px;
    opacity: 1;
    padding: 2px;
    position: absolute;
    right: 5px;
    text-shadow: 0 1px #444;
    top: 5px;
    display: none;
}

.listRealisation .realisation:hover .realisation-info-complete {
    left:0;
}

.listRealisation .realisation .realisation-info {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    padding: 5px;
    position: absolute;
    width: 100%;
    transition: 0.8s all ease;
    cursor: pointer;
}


.listRealisation .realisation .carroussel {
    position: relative;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);    
}

.listRealisation .realisation img{
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    max-width: 100%;
}

.listRealisation .realisation img:first-child {

}

.listRealisation .realisation {
    width:20%;
}

.listRealisation .realisation.w2 {
    width:40%;
}

.listRealisation .realisation.w3 {
    width:60%;
}

.listRealisation .realisation.w4 {
    width:80%;
}

.listRealisation .realisation.w5 {
    width:100%;
}

@media (max-width:790px) {

    .listRealisation .realisation {
        width:100%;
    }

    .listRealisation .realisation.w2 {
        width:100%;
    }

    .listRealisation .realisation.w3 {
        width:100%;
    }

    .listRealisation .realisation.w4 {
        width:100%;
    }

    .listRealisation .realisation.w5 {
        width:100%;
    }

}

/* FOOTER */

.FooterView {
    background: #000;
    padding: 15px 5px;
    min-height: 50px;
    color :#FFF;
}

.FooterView h3{
    margin:0;
    padding:0;
}
